body.loginPageBody{ background:url(loginbodybg.gif) repeat-x left center #d6dedf;}
.LoginWrapbg{ background:url(loginimgbg.jpg) no-repeat center center; height:100%;}
.bluebg {
    background: url("headBg.png") repeat-x scroll right top #DAE4ED;
}
.z-toolbar-overflow {
    background: url("bar.gif") repeat-x scroll 0 0 transparent;
}
.z-body-index .z-toolbar-ct {
    background: url("bar.gif") no-repeat scroll right -700px transparent;
}
.z-body-index .z-toolbar-overflow {
    background: url("bar.gif") repeat-x scroll 0 -620px transparent;
}
.z-body-index .z-toolbar {
    background: url("bar.gif") no-repeat scroll 0 -620px transparent;
}
.navigation a {
	background:none;
    color: #ddebf5;
}
.navigation a:first-child {
    background: none;
}
.navigation a b {
	background:none;
}
.navigation a:hover {
    background: url("buttons.png") no-repeat scroll 0 0 transparent;
}
.navigation a:hover b {
    background: url("buttons.png") no-repeat scroll right 0 transparent;
    color: #665d52;
}
.navigation a.current b {
    background: url("buttons.png") no-repeat scroll right -40px transparent;
	overflow:hidden;
}

.z-toolbar {
    background: url("bar.gif") no-repeat scroll 0 -40px transparent;
}
.z-toolbar-ct {
    background: url("bar.gif") no-repeat scroll right -80px transparent;
}
.z-body-detail .z-toolbar-ct {
    background-image: url("bar.gif");
}
.z-tabpanel-overflow {
    background: url("bar.gif") repeat-x scroll 0 -120px transparent;
}
.z-tab-current, .z-tab-current:hover {
    background: url("buttons.png") no-repeat scroll 0 -180px transparent;
}
.z-tab, .z-tab b{color:#806e59;}
.z-tab-current b, .z-tab-current:hover b {
    background: url("buttons.png") no-repeat scroll right -180px transparent;
	color:#ffffff;
}

.z-tab:hover b {
    background: url("buttons.png") no-repeat scroll right -100px transparent;
}
.z-tab:hover {
    background: url("buttons.png") no-repeat scroll 0 -100px transparent;
}
.z-tab, .z-tab b {

}
.z-btn, .z-btn b, .z-btn i {
    color: #565656;
}
.treeItem a, .treeItem p, .treeItem p.over, .treeItem p.current {
    background: none repeat scroll 0 0 transparent;
}
.treeItem p.current {
    background: url("bar.gif") repeat-x scroll 0 -470px transparent;
}
.sideNavigation a.current {
    background: url("bar.gif") repeat-x scroll 0 -320px transparent;
}
.sideNavigation li {
    background: url("bar.gif") repeat-x scroll 0 -240px transparent;
}
.sideNavigation .hasChild_expand {
    background: url("bar.gif") repeat-x scroll 0 -280px transparent;
}
.sideNavigation a:hover {
    background: url("bar.gif") repeat-x scroll 0 -400px transparent;
}
.sideNavigation a {
    color: #565656;
}

input[type="text"], input[type="password"] {
    color: #6f829a;
}
.z-tabpanel {
    background: url("bar.gif") no-repeat scroll 0 -160px transparent;
}
.z-body-detail .z-toolbar-overflow {
    background: url("bar.gif") repeat-x scroll 0 -120px transparent;
}
.z-toolbar-flat .z-toolbar-overflow {
    background: url("bar.gif") repeat-x scroll 0 -500px transparent;
}
.navigation a.current {
    background: url("buttons.png") no-repeat scroll 0 -40px transparent;
}
.z-body-detail .z-toolbar {
    background: url("bar.gif") no-repeat scroll 0 -160px transparent;
}
.z-body-detail .z-toolbar-flat {
    background: url("bar.gif") no-repeat scroll 0 -540px transparent;
}
.z-tabpanel-ct{
    background-image: url("bar.gif");
}