<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,name,mobile,address
	</sql>
	
	<insert id="add" parameterType="customer" useGeneratedKeys="true" keyProperty="id">
		insert into customer(name,mobile,address) values(#{name},#{mobile},#{address})
	</insert>
	
	<select id="selectByMobile" resultType="customer">
		select
		<include refid="selectId" />
		from customer where mobile=#{mobile}
	</select>
</mapper>